body{
    padding-left: 40px;
}

h1{
    color:dodgerblue
}

.span{
    color: white;
    background-color: cornflowerblue;
}

p{
    color: darkblue;
    font-weight: 600;
    padding-left: 10px;
    font-size: larger;
    
}